<app-standard-view cssClass='standard-form-view' [viewTitle]="viewTitle"  [subTitle]="subTitle" [busyState]="busyState" [buttons]="topButtons"
    [clickInterceptor]="clickInterceptor" [evalStateInterceptor]="formView.evalStateInterceptor"
    [canCancel]="allowTopCancel" (cancelClick)="onCancelClick()">

    <span trailing-list-items class="o-list-inline__item" *ngIf="canSave && !createMode">
        <li class="o-list-inline__item">
            <button type="button" mat-mini-fab color="primary" [disabled]="disableSave" (click)="onSaveClick()"
                matTooltip="{{'tooltip.save' | appText}}">
                <mat-icon svgIcon="save_white"></mat-icon>
            </button>
        </li>
    </span>
    <div class="nested-content">
        <ng-content select="[above-form]"></ng-content>
        <app-form-view
          #formView
          validationKey="default"
          [stateHelper]="stateHelper"
          [inline]="inline"
          [readOnly]="readOnly"
          [fields]="fields"
          [busyState]="busyState"
          [model]="model"
          [globalStateReset]="true"
          [disableStateManager]="disableStateManager"
        >
            <div *ngIf="createMode" bottom-content class="bottom-button-panel">
                <button *ngIf="canSave" type="submit" mat-raised-button color="primary" [disabled]="disableSave"
                    (click)="onSaveClick()">{{activeCreateButtonText}}</button>
                <button *ngIf="allowBottomCancel" type="button" mat-raised-button color="warn" [disabled]="isBusy" class="discard-button"
                    (click)="onCancelClick()">{{'button.discard' | appText}}</button>
            </div>
        </app-form-view>
        <ng-content select="[below-form]"></ng-content>
    </div>
</app-standard-view>
