<div class="datetime-wrapper">
  <input matInput [matDatepicker]="picker" [id]="id" (dateChange)="pickerChange()">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
  <div class="time-comp">
    <select [value]="hour" (change)="hourChange($event)">
      <option *ngFor="let h of hourOptions" [value]="h.value">{{h.label}}</option>
    </select>
    <span>:</span>
    <select [value]="minute" (change)="minuteChange($event)">
      <option *ngFor="let m of minuteOptions" [value]="m.value">{{m.label}}</option>
    </select>
  </div>
</div>