<div fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="50%">
        <ng-content select="[leading-content]"></ng-content>
    </div>
    <div fxFlex="50%" align="right">
        <ng-content select="[trailing-content]"></ng-content>
    </div>
</div>