<div class="info-type-{{type}}">
    <div [ngSwitch]="type">
        <mat-icon *ngSwitchCase="'warn'">warning</mat-icon>
        <mat-icon *ngSwitchCase="'error'">error</mat-icon>
        <mat-icon *ngSwitchDefault>info</mat-icon>
        <span>{{text}}</span>
    </div>
</div>