<form [formGroup]="form" *ngIf="isLoaded">
  <formly-form
    *ngIf="!inline"
    [form]="form"
    [fields]="activeFields"
    [model]="model"
  ></formly-form>
  <ng-content select="[bottom-content]"></ng-content>
</form>
