// Structure
.app-table-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  position: relative;
  padding-bottom: 40px;

  .mat-icon-button {
    line-height: unset;
    height: unset;
  }
}

.table-table {
  overflow: auto;
  table-layout: fixed;
  max-height: 500px;
  min-width: auto !important;
  width: 100%;
}

.inline-action-btn {
  display: inline-flex;
  list-style-type: none;
  margin: 0px;
}

.no-results {
  display: flex;
  justify-content: center;
  padding: 14px;
  font-size: 14px;
  font-style: italic;

  &.is-hidden {
    display: none;
  }
}

td.mat-cell {
  word-wrap: break-word;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;

  &:last-of-type {
    max-width: 200px;
  }
}

.is-dragable {
  cursor: move;
}

.drag-placeholder {
  padding-top: 15px;
}

// Search box
.search-table-header {
  min-height: 64px;
  padding: 8px 24px 0;
  background-color: #fafafa;
}

.table-search {
  font-size: 14px;
  width: 100%;
}

// hover state
.selectable .mat-row {
  &:hover {
    cursor: pointer;
    background-color: map_get($mat-grey, 100);
  }
}

// Spinner
.app-table-spinner-container {
  text-align: center;
  margin: 10px;
}
.table-spinner {
  display: inline-block;
  top: 10px;
}

// Rows
.table-row.has-warning {
  .mat-cell {
    background: map_get($mat-amber, 100);
    border-color: map_get($mat-amber, 300);
  }
}

.table-row.is-disabled {
  .mat-cell {
    background: #e2e2e2;
  }
}

.table-row.is-subtle {
  .mat-cell {
    color: map_get($mat-grey, 400);
  }
}

// columns formatting
div.table-tooltip {
  user-select: text !important;
}

.table-chip-list {
  .is-clickable {
    cursor: pointer;
  }
}

.truncate-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.simple-list {
  padding-left: 0;
}

// Actions
.actions-cell {
  text-align: right;
}

.action-mat-icon {
  vertical-align: middle;
}

.mat-icon {
  overflow: hidden;
}

// custom chip list
.pfr-chip-list {
  background-color: #e0e0e0;
  border-radius: 10px;
  padding: 2px 10px;
  margin: 3px;
  color: black;
}

// custom file list
.pfr-file-list {
  display: flex;
  background-color: #e0e0e0;
  border-radius: 10px;
  padding: 2px 5px;
  margin: 3px;
  color: black;
  cursor: pointer;
}

.pfr-file {
  display: flex;
  align-items: center;
  padding-right: 2px;
}

.pfr-file-item {
  display: flex;
  word-break: break-all;
}

.sortKey {
  display: inline-flex;
  vertical-align: text-top;
}
::ng-deep
  .mat-sort-header-container:not(.mat-sort-header-sorted)
  .mat-sort-header-arrow {
  opacity: 0 !important;
}

::ng-deep .mat-sort-header-arrow {
  opacity: 1 !important;
}
