<span *ngIf="isLoading" style="padding: 0px 10px 0px 10px;">
    <mat-spinner class="busy-spinner" diameter="40" style="display: inline-block;top:10px;">
    </mat-spinner>
    Loading...
</span>
<ng-content *ngIf="isLoaded"></ng-content>