<div class="nested-content">
  <ng-content select="[above-form]"></ng-content>
  <app-simple-form-view
    #formView
    validationKey="default"
    [inline]="inline"
    [readOnly]="readOnly"
    [fields]="fields"
    [busyState]="busyState"
    [model]="model"
    [form]="form"
  >
  </app-simple-form-view>
  <ng-content select="[below-form]"></ng-content>
</div>
