<li class="o-list-inline__item" *ngFor="let b of buttons">
    <button type="button" mat-mini-fab [disabled]="evalState(b.disabled)" [color]="b.color ? b.color : 'accent'"
        [matTooltip]="getTooltip(b)" (click)="onButtonClick(b)">
        <mat-icon *ngIf="b.icon" class="mat-18">{{b.icon}}</mat-icon>
        <mat-icon *ngIf="b.svgIcon" [svgIcon]="b.svgIcon" class="mat-18"></mat-icon>
    </button>
</li>
