<form [formGroup]="form" *ngIf="isLoaded">
    <formly-form *ngIf="!inline" [form]="form" [fields]="activeFields" [model]="model">
    </formly-form>
    <app-kup-formly-form-flex *ngIf="inline" [form]="form" [fields]="activeFields" [model]="model">
    </app-kup-formly-form-flex>
    <ng-content select=[bottom-content]></ng-content>
</form>
