<h1 mat-dialog-title *ngIf="data.title">{{ data.title }}</h1>
<div mat-dialog-content>
  {{ data.message }}
</div>
<div mat-dialog-actions align="end">
  <button
    *ngFor="let action of data.actions"
    mat-button
    [mat-dialog-close]="action.value"
  >
    {{ action.label }}
  </button>
</div>
