<div class="standard-view">
  <div [class]="cssClass">
    <div fxLayout="row" fxLayoutAlign="center center">
      <div fxFlex="50%">
        <h1 class="view-title">
          {{ activeTitle }}
        </h1>
        <h4 *ngIf="subTitle">{{ subTitle }}</h4>
      </div>
      <div fxFlex="50%" align="right">
        <ul class="o-list-inline">
          <li class="o-list-inline__item" *ngIf="canGoBack">
            <button type="button" mat-mini-fab color="warn" (click)="onBackClick()" [disabled]="busyState.isBusy"
              matTooltip="{{ 'tooltip.back' | appText }}">
              <mat-icon class="mat-18">arrow_back</mat-icon>
            </button>
          </li>

          <li class="o-list-inline__item" *ngIf="canCancel">
            <button type="button" mat-mini-fab color="warn" (click)="onCancelClick()" [disabled]="busyState.isBusy"
              matTooltip="{{ 'tooltip.discard' | appText }}">
              <mat-icon class="mat-18">clear</mat-icon>
            </button>
          </li>

          <ng-content select="[leading-list-items]"></ng-content>

          <app-button-group class="o-list-inline__item" [busyState]="busyState" [buttons]="buttons"
            [clickInterceptor]="clickInterceptor" [evalStateInterceptor]="evalStateInterceptor">
          </app-button-group>

          <ng-content select="[trailing-list-items]"></ng-content>
          <li class="o-list-inline__item" *ngIf="canCreate">
            <button mat-mini-fab color="primary" [disabled]="disableCreate" [matTooltip]="createTooltip"
              (click)="onCreateClick()">
              <mat-icon class="mat-18">add</mat-icon>
            </button>
          </li>
          <li class="o-list-inline__item" *ngIf="canExport">
            <button mat-mini-fab color="primary" id="genotypes_export_button" (click)="onExportClick()"
              matTooltip="{{ 'tooltip.export' | appText }}">
              <mat-icon class="mat-18" svgIcon="file_export_white"></mat-icon>
            </button>
          </li>
        </ul>
      </div>
    </div>
    <app-busystate-wrapper [state]="busyState">
      <div *ngIf="showContent">
        <ng-content></ng-content>
      </div>
    </app-busystate-wrapper>
  </div>
</div>